input {
    width: max-content;
    margin: .5rem;
}

.questionier {
    display: flex;
    // justify-content: flex-start;
    flex-direction: column;
    font-family: 'Open-sans', sans-serif;
}

.questionier div {
    // justify-content: flex-start;
    // width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.questionier label {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    cursor: pointer;
    // width: max-content;
}

.action {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3.3%;
}

.info {
    border-radius: 1rem;
    border: 2px solid var(--tg-theme-button-text-color, #fff);
    padding: 1rem;
}

li {
    // margin: 1rem;
    list-style-type: circle;
    margin-left: 1rem;
}

textarea {
    resize: vertical;
}

.container {
    padding: 1rem;
}